.color{
    background-color: hsl(15, 100%, 70%);
    background-image: url(../public/icon-work.svg);
    height: 50px;
    font-size: 100%;
    background-repeat: no-repeat;
    background-position:right;
    border-radius: 10px;
}

.color1{
    background-color: hsl(145, 58%, 55%);
    background-image: url(../public/icon-exercise.svg);
    height: 50px;
    font-size: 100%;
    background-repeat: no-repeat;
    background-position:right;
    border-radius: 10px;
}

.color2{
    background-color: hsl(195, 74%, 62%);
    background-image: url(../public/icon-play.svg);
    height: 50px;
    font-size: 100%;
    background-repeat: no-repeat;
    background-position:right;
    border-radius: 10px;
}

.color3{
    background-color: hsl(264, 64%, 52%);
    background-image: url(../public/icon-social.svg);
    height: 50px;
    font-size: 100%;
    background-repeat: no-repeat;
    background-position:right;
    border-radius: 10px;
}

.color4{
    background-color: hsl(348, 100%, 68%);
    background-image: url(../public/icon-study.svg);
    height: 50px;
    font-size: 100%;
    background-repeat: no-repeat;
    background-position:right;
    border-radius: 10px;
}

.color5{
    background-color: hsl(43, 84%, 65%);
    background-image: url(../public/icon-self-care.svg);
    height: 50px;
    font-size: 100%;
    background-repeat: no-repeat;
    background-position:right;
    border-radius: 10px;
}

.work{
    margin-top: -15px;
    z-index: -5;
    border-radius: 10px;
}

.col-3{
    width: 20% !important;
}